{
  "defaultBrain": "wit",
  "httpApi": {
    "enabled": true,
    "endpoint": "/api/message",
    "timeout": 5000,
    "accessToken": "protection-enabled"
  },
  "http": {
    "enabled"
    "port": 80
  },
  "plugins": {
    "cli-local": {},
    "telegram-bot": {
      "token": "<replace with own token>",
      "password": "genie"
    },
    "wit": {
      "accessToken": "accesstoken-from-wit.ai"
    }
  }
}
