{
  "defaultBrain": "wit",
  "plugins": {
    "cli-local": {},
    "telegram-bot": {
      "token": "<replace with own token>",
      "password": "genie"
    },
    "wit": {
      "accessToken": "accesstoken-from-wit.ai"
    }
  }
}
