{
  "defaultBrain": "wit",
  "httpApi": {
    "enabled": true,
    "endpoint": "/api/message",
    "timeout": 5000,
    "accessToken": "protection-enabled"
  },
  "http": {
    "enabled": true,
    "port": 3001
  },
  "plugins": {
    "cli-local": {},
    "echo": {}
  }
}
